/*INDEX*/

/* Замість .index-page body використовуємо просто .index-page */
.index-page {
    background-color: #000000;
    padding: 20px;
}

.index-page h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 90px;
}

.index-page h2 {
    color: antiquewhite;
}

.index-page img {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 10px;
    margin: 10px;
}


.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: antiquewhite;
    background-color: #ff0000;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button-link:hover {
    background-color: #e04343;
}



/*ADD STUDENT*/

body.add-student-page{
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 7%;
    padding: 20px;
}

.add-student-page h1 {
    color: antiquewhite;
    text-align: center;
}

.add-student-page form {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.9);
}

.add-student-page label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: antiquewhite;
}

.add-student-page input[type="text"],
.add-student-page input[type="email"],
.add-student-page input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.add-student-page button {
    width: 100%;
    padding: 10px;
    background-color: #00ff76;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-student-page button:hover {
    background-color: #6dea8b;
}

.add-student-page a {
    display: inline-block; /* Фон займає тільки область тексту */
    text-align: center; /* Центрування тексту всередині посилання */
    text-decoration: none; /* Прибирає підкреслення */
    color: antiquewhite; /* Колір тексту */
    background-color: rgba(129, 40, 40, 0.6); /* Фон */
    padding: 5px 10px; /* Відступи всередині посилання */
    border-radius: 4px; /* Округлені кути */
}

.add-student-page .container {
    margin: 10px;
    text-align: center; /* Центрування посилання */
}

.add-student-page a:hover {
    text-decoration: underline;
}
