body {
    font-family: Arial, sans-serif;
    background-color: #131313FF;
    margin: 5%;
    padding: 20px;
}

h1,h2{
    color: antiquewhite;
    text-align: center;
}

img {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 10px;
    margin: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #131313FF;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.9);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: antiquewhite;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 96%;
    border-radius: 4px;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
}

button{
    width: 50%;
    background-color: #07ad32;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

a[href="/students"] {
    display: inline-block;
    width: 39.5%;
    background-color: #9e0000;
    color: antiquewhite;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

a[href="students/add"] {
    display: inline-block;
    margin-top: 2px;
    background-color: #9e0000;
    color: antiquewhite;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

a[href="students/add"]:hover {
    background-color: #800000;
}

body.index-page {
    background-color: #000000;
}

.index-page h1 {
    font-size: 90px;
}

.index-page a[href="/students"]{
    width: auto;
}

.add-student-page button {
    padding: 10px 15px;
}

.add-student-page button:hover {
    background-color: #01cb34;
}

.add-student-page a[href="/students"]:hover {
    background-color: #800000;
}

.add-student-page-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

body.students-page {
    margin: 0;
}

.students-page h1 {
    border-bottom: 2px solid #b30000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.students-page table {
    margin: 15px 0;
}

.students-page th, td {
    padding: 12px 15px;
    text-align: center;
}

.students-page th {
    background-color: #333333;
    color: antiquewhite;
}

.students-page td {
    background-color: #262626;
    color: antiquewhite;
}

.students-page tr:nth-child(even) td {
    background-color: #1f1f1f;
}

.students-page button {
    width: auto;
    background-color: #9e0000;
    padding: 9px 14px;
}

.students-page button:hover {
    background-color: #800000;
}

.update-page h1 {
    margin-top: 20px;
}

.update-page button {
    padding: 10px;
}

.update-page button:hover {
    background-color: #01cb34;
}

.update-student-page-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.update-student-page-button a[href="/students"]:hover {
    background-color: #800000;
}

.delete-page h1 {
    margin-top: 20px;
}

.student-delete-info td {
    padding: 10px;
    color: antiquewhite;
    border: 1px solid #a15b5b;
}

.student-delete-info td:first-child {
    font-weight: bold;
    text-align: left;
    width: 40%;
}

.student-delete-info td:last-child {
    text-align: left;
    width: 60%;
}

.delete-page button {
    padding: 10px;
    background-color: #ff0000;
}

.delete-page button:hover {
    background-color: #9e0000;
}

.delete-student-page-button a[href="/students"] {
    background-color: #07ad32;
}

.delete-student-page-button a[href="/students"]:hover {
    background-color: #01cb34;
}
