<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Видалити студента</title>
</head>
<body>
<h1>Видалити студента</h1>
<form th:action="@{/api/students/delete_student/id/{id}(id=${student.id})}" method="post">
  <p>Ви впевнені, що хочете видалити цього студента?</p>
  <p>Ім'я: <span th:text="${student.firstName}">FirstName</span></p>
  <p>Прізвище: <span th:text="${student.lastName}">LastName</span></p>
  <p>Email: <span th:text="${student.email}">Email</span></p>
  <p>Дата народження: <span th:text="${student.dateOfBirth}">Дата народження</span></p>
  <p>Вік: <span th:text="${student.age}">Вік</span></p>

  <button type="submit">Видалити</button>
</form>
<a href="/students">Назад до списку студентів</a>
</body>
</html>
