<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список студентів</title>
</head>
<body>
<h1>Список студентів</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Email</th>
        <th>Дата народження</th>
        <th>Вік</th>
        <th>Дії</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}">1</td>
        <td th:text="${student.firstName}">Ім'я</td>
        <td th:text="${student.lastName}">Прізвище</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.dateOfBirth}">Дата народження</td>
        <td th:text="${student.age}">Вік</td>
        <td>
            <!-- Кнопка для оновлення студента -->
            <a th:href="@{/students/update/{id}(id=${student.id})}">
                <button>Оновити</button>
            </a>
            <!-- Кнопка для видалення студента -->
            <a th:href="@{/students/delete/{id}(id=${student.id})}">
                <button>Видалити</button>
            </a>
        </td>
    </tr>
</table>
<a href="students/add">Додати студента</a>
</body>
</html>
